<div class='container'>
	<h1>Modifier un type</h1>

	<%= render 'form', type: @type %>

	<%= link_to 'Voir', @type, type:"button", class:"btn btn-outline-success" %> |
	<%= link_to 'Retour', types_path %>
</div>