<p id="notice"><%= notice %></p>

<div class='container'>
  <p>
    <strong>Libellé du type:</strong>
    <%= @type.label %>
  </p>
</div>

<%= link_to 'Modifier', edit_type_path(@type), type:"button", class:"btn btn-outline-info" %> |
<%= link_to 'Retour', types_path %>
